# Ignore all files and directories in .ssh/ apart from ~/.ssh/config
# To reduce the risk of accidentally committing sensitive or personal information.
# And even for the config file it's worth being cautious.
# /*
!/config
